body {
  display: grid;
  grid-template: 100px 1fr / repeat(12, 1fr);
}
main {
  grid-row: 2 / 3;
  grid-column: 3 / span 8;
  border: 3px solid black;
  border-radius: 20px;
  padding: 20px;
}
#addTask,
#clearTasks,
#deleteTask,
#toggleSort,
#setName,
#filterTasks {
  width: 160px;
}
textarea {
  height: 200px !important;
  font-family: "Courier New", Courier, monospace;
}
