body {
  display: grid;
  grid-template: 50px 1fr 50px / repeat(12, 1fr);
}
main {
  grid-row: 2 / 3;
  grid-column: 3 / span 8;
  border: 3px solid #007bff;
  border-radius: 20px;
  padding: 10px 20px;
}
label {
  display: inline-block !important;
  width: 200px;
  text-align: left;
}
select {
  width: 200px !important;
  margin-right: 10px;
}
input {
  margin-right: 10px;
}
#register {
  margin-left: 200px;
  margin-right: 10px;
  width: 90px;
}
#reset {
  margin-left: 10px;
  width: 90px;
}
#back {
  width: 100px;
}
.error {
  color: #dc3545;
}
.show {
  display: block;
}
.hide {
  display: none;
}
