body {
  display: grid;
  grid-template: 100px 1fr / repeat(12, 1fr);
}
main {
  grid-row: 2 / 3;
  grid-column: 3 / span 8;
  border: 1px solid blue;
  border-radius: 20px;
  padding: 20px;
}
label {
  display: inline-block !important;
  width: 200px;
  text-align: right;
  padding-right: 10px;
}
textarea {
  width: 200px !important;
}
