body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 90%;
    margin: 0 auto;
  }
  h3 { 
    font-weight: 400;
    font-size: 90%;
  }
  select {
    width: 45px;
    margin: 0 10px;
  }
  input {
    width: 70px;
  }
  textarea {
    margin-top: 20px;
  }