body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 480px;
    margin: 0 auto;
    padding: 20px 25px;
    border: 3px solid blue;
    box-shadow: 2px 2px 2px blue;
}

h1 {
    font-size: 170%;
    color: blue;
    margin-top: 0px;
}

input, select {
    margin-bottom: 10px;
    width: 15rem;
    padding: 0.2rem;
}

label {
    width: 176px;
    float: left;
}

input#calculate {
    width: 8rem;
}